.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
.venv
.venv311
.tmp-img
.hf
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
.env
.env.*
frontend
node_modules
npm-debug.log
yarn.lock
package-lock.json
dist
build
infra/azure/*.json
*.egg-info
